.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 4rem;
  height: 4rem;

  background: linear-gradient(
    to bottom right,
    var(--nav-gradient1),
    var(--nav-gradient2),
    var(--nav-gradient3)
  );

  backdrop-filter: blur(10px);
}

.logo {
  font-size: clamp(1rem, 1.8rem, 3rem);
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--navbar-text);
  margin-left: 1%;
}

.nav-links {
  margin-right: 1%;
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
  gap: 0.8em;
}

.nav-links a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--navbar-text);
  font-size: 0.8rem;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  height: max-content;
  min-height: 100vh;
  padding-top: 4rem;
  color: var(--gen-text);
  background-color: var(--background-color);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: medium;
}

.center-text {
  margin: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

#pictures {
  max-width: 50%;
  margin: auto;
  padding-top: 1rem;
}

@media (min-width: 380px) {
  .nav-links a {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .nav-links a {
    font-size: 1.2rem;
  }

  .center-text {
    margin: 0 0 1rem 0;
  }

  .center-text {
    max-width: 65ch;
    line-height: 2ch;
    font-size: clamp(0.5rem, 2vw, 8rem);
  }

  .about-page {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 80vm;
    margin: 0 auto;
    padding: 2rem;
  }

  #pictures {
    max-width: 30%;
  }
}

@media (min-width: 1024px) {
}
