.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 4rem;

  background: linear-gradient(
    to bottom right,
    var(--nav-gradient1),
    var(--nav-gradient2),
    var(--nav-gradient3)
  );

  backdrop-filter: blur(10px);
}

.logo {
  font-size: clamp(1rem, 1.8rem, 3rem);
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--navbar-text);
  padding-left: 1%;
}

.nav-links {
  padding-right: 1%;
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
  gap: 0.8em;
}

.nav-links a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--navbar-text);
  font-size: 0.8rem;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  height: max-content;
  min-height: 100vh;
  padding-top: 4rem;
  color: var(--gen-text);
  background-color: var(--background-color);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: medium;
}

main * {
    margin: 1rem;
}

@media (min-width: 380px) {
  .nav-links a {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .nav-links a {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
}
